---
---

.background {
  position: relative;
  z-index: 1;
}

.background:not(footer) {
  background: var(--background);
  color: var(--text);
}

.background:not(footer):before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: none;
  z-index: -1;
}
